<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Portfolio - Projects</title>
</head>
<body>
    <header>
        <h1>My Projects</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>
    <main>
        <h2>Projects</h2>
        <ul>
            <li><strong><a href="https://github.com/Alex-King-1998/DjangoGamingBlog" target="_blank">Django Gaming Blog</a>:</strong> A gaming blog called "The Games Lounge" created using Django.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/DjangoBookAPI" target="_blank">Django Book API</a>:</strong> A RESTful API developed with Django and Django REST Framework to manage a collection of books.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/DjangoTo-DoList" target="_blank">Django To-Do List</a>:</strong> A basic to-do list app created using Django.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/DjangoWebScraper" target="_blank">Django Web Scraper</a>:</strong> A web scraper app created in Django.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/DjangoECommerce" target="_blank">Django E-Commerce Store</a>:</strong> An online food store "Munch Box" created using Django and Stripe.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/FlaskBookAPI" target="_blank">Flask Book API</a>:</strong> A RESTful API developed with Flask to manage a collection of books.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/FlaskExpenseTracker" target="_blank">Flask Expense Tracker</a>:</strong> A simple expense tracking app built in Flask.</li>
            <li><strong><a href="https://github.com/Alex-King-1998/FlaskExpenseTracker" target="_blank">Flask Tech Blog</a>:</strong> A tech blog called "Techplanet" created in Flask.</li>
        </ul>
            
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Alex King</p>
    </footer>
</body>
</html>
